html{
    background-color: yellow;
}

body{
    background-color: #dfdada;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 20px;
} 


.nav-llista{
    list-style-type: none;  
    display: flex; 
    background-color: #646464;    
    padding: 10px;   
    justify-content: center;
}

.nav-llista li {
    margin-right: 100px;   
}

.nav-llista li a {
    color: orange;           
    text-decoration: none;  
}

.nav-llista li a:hover {
    color: black;
}

h2{
    color:#256d7b;
}

div{
    padding-left: 30px;
    padding-right: 30px;
 }

.part-superior{ 
    padding: 15px;
    background: #646464;
	height: 80px;
    text-align: center;
}

.icon{
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    border-width: 1px;
    padding: 10px;
}

.icon a img{
    width: 20px;
    height: 20px; 
}
.negreta{
    font-weight: bold;
}

.part-inferior{
    text-align: center;
    padding: 30px;
    background: #7d2181;
    height: 120px;
}

.enllas-inferior a{
    text-decoration: none;
    color: orange;
}

.enllas-inferior a:hover{
    color: black;
    text-decoration: underline;
}

footer{
    width: 139%;            
    margin-left: -25%;  
}


