html{
    background-color: yellow;
}

body{
    background-color: #dfdada;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 20px;
} 


.nav-llista{
    list-style-type: none;  
    display: flex; 
    background-color: #646464;    
    padding: 10px;   
    justify-content: center;
}

.nav-llista li {
    margin-right: 100px;   
}


.nav-llista li a:hover {
    color: black;
}

h2{
    color:#256d7b;
}

div{
    padding-left: 30px;
    padding-right: 30px;
 }

.part-superior{ 
    padding: 15px;
    background: #646464;
	height: 80px;
    text-align: center;
}

.icon{
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    border-width: 1px;
    padding: 10px;
}

.icon a img{
    width: 20px;
    height: 20px; 
}

.negreta{
    font-weight: bold;
}

.part-inferior{
    text-align: center;
    padding: 30px;
    background: #7d2181;
    height: 120px;
}

.enllas-inferior a:hover{
    color: black;
    text-decoration: underline;
}

footer{
    width: 139%;            
    margin-left: -25%;  
 
}

.contingut-pagina-llista {
    display: flex; 
}

.contingut-pagina-llista div {
    margin-right: 150px;  
}

.img-dreta{
    margin-top: 30%;
} 

li > span {
    color:#238ca1;
    font-weight: bold;
}

.li{
    list-style-type: none;
}

.ico{
    list-style-type: none;
    padding: 10px;
} 

.ico img{
   padding-right: 5px;
}

.imatge{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imatge img{
    padding: 20px;
}

.imatge a{
    background-color: #646464;
    padding: 2px 60px 2px 60px;
    text-decoration: none;
    margin-bottom: 15px;
}

.imatge a:hover{
    color: white;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: orange;
}

.personatges dd a:hover{
    text-decoration: underline;
    color:violet;
}

.historia a:hover {
    text-decoration: underline;
    color:rgb(0, 0, 0);
}