html, body{
    height: 97%;
    margin: 0;
}
body {font-family: Arial, sans-serif}
.nav-llista{
    list-style-type: none;  
    display: flex; 
    padding: 10px;        
    margin-left: 700px;
    
}
.nav-llista li {
    margin-right: 200px;   
    font-weight: bold;
    font-size: 25px;
} 
header{ 
    padding: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 151, 2);
    border-bottom: 4px solid rgb(94, 93, 93);
    height: 10%;
    background: linear-gradient(to bottom, rgb(0, 135, 0), rgb(1, 238, 1));
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.5s, transform 0.5s;
    display: inline-block;
}
nav a:hover{
    color: rgb(255, 152, 152);
    transform: scale(1.8);
     
}
footer{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 151, 2);
    border-top: 4px solid rgb(94, 93, 93);
    position: relative;
    height: 10%;
    background: linear-gradient(to top, rgb(0, 108, 0), rgb(1, 238, 1));
}
footer a{
    color: white;
    text-decoration: none;
}
p{margin: 0}
.cuerpo-index{
    color: rgb(1, 154, 1);
    height: 80%;
    background-image: url('../img/fondoindex.jpg');
    background-size: cover;
    text-align: left;  
    font-size: 40px;
}
.texto-principal {padding: 90px 180px}
.letra-grande{
    font-weight: bold;
    font-size: 80px;
    padding-bottom:80px ;
}
.actual {
    color: rgb(255, 255, 255); 
    transform: scale(1.7);
}
.bold{font-weight: bold}
.formulario h3 {
    color: #0093aa;
    padding-left: 30px;
    font-size: 20px;
    margin-top: 40px;
}
form ul {
    list-style: none; 
    padding-left: 80px;
}
form ul li {margin-bottom: 15px}
form label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
 textarea {
    width: 60%;  
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;  
}
.boton{
    background-color: #137fa0;
    color: white;
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}
.boton:hover{background-color: #7bbcee;}
small {
    display: block;
    color: #666; 
    font-size: 0.9em; 
}
h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #0c7181;
    font-size: 40px;
}
.radio{display: inline-block}
.submit{
    background-color: #00659b;
    color: white;
    border: 0;
    padding: 15px 55px;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 40px;
}
.submit:hover{background-color: #7ba1ee}
table {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 3%;
}
.color-fila {
    background-color: #0c6d8b;
    color: white;
    text-align: center;
    font-weight: bold;
}
td {
    padding: 12px;
    border: 2px solid #e0e0e0;
}
 